/*
Colour palette:

*/

@charset "UTF-8";

/* fonts */

@font-face {
 font-family: HACKED;
 src: url("../ttf/HACKED_Title.ttf");
}


/* page-wide style */

* {
 font-family: sans-serif;
 /*outline: solid 1px pink;*/
 color: rgb(255, 255, 255);
 margin: 0;
 padding: 0;
}

body, html {
 height: 100%;
 width: 100%;
}

body {
 background-color: rgb(33, 37, 43);
}


/* "#navigator" style */

#navigator {
 display: flex;
 flex-flow: row || wrap;
 justify-content: space-between;
 padding-top: 15px;
 z-index: 0;
}

#navigator * {
 line-height: 35px;
}

header {
 font-family: HACKED;
 font-size: 40px;
 padding: 10px 0 15px 0;
}

header>a {
 font-family: HACKED;
 font-size: 40px;
 padding: 5px 15px 10px 5px;
 text-decoration: none;
}

nav {
 align-self: flex-end;
 text-align: center;
 z-index: 2;
}

nav>ul {
 display: flex;
 flex-flow: row || wrap;
 justify-content: center;
}

nav>ul>li {
 list-style: none;
}

nav>ul>li>a {
 display: inline-block;
 padding: 1.5px 15px 2px 15px;
 background-color: rgb(40, 44, 52);
 border: solid 2px rgb(24, 26, 31);
 border-bottom: solid 2px rgb(40, 44, 52);
 border-radius: 15px 15px 0 0;
 z-index: 3;
 text-decoration: none;
 font-size: 20px;
}

.spacer {
 width: 100%;
 border-bottom: solid 2px rgb(24, 26, 31);
 position: relative;
 top: -2px;
 z-index: 1;
 height: 0;
 margin-bottom: -2px;
}


/* "main" style */

main {
 display: flex;
 flex-flow: row || wrap;
 justify-content: flex-start;
 padding-bottom: 50px;
}

main article {
 padding-bottom: 25px;
}

footer {
 width: 100%;
 line-height: 50px;
 position: absolute;
 bottom: 0;
 left: 0;
 text-align: center;
}

#wrapper {
 min-height: 100%;
 position: relative;
}

#content {
 background-color: rgb(40, 44, 52);
 padding: 15px;
 height: 100%;
 flex-grow: 19;
 border-radius: 0 0 15px 15px;
}

aside {
 flex-grow: 1;
}

figure img {
 max-width: 720px;
 max-height: 480px;
 margin-bottom: -2px;
}

figure {
 text-align: center;
}
